<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taules de multiplicar</title>
    <link rel="stylesheet" href="estils.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
</head>

<body>

    <div id="app">
        <div id="pistes">
            <label for="pistes_input">Pistes:</label>
            <input type="checkbox" id="pistes_input" name="pistes" v-model="pistes_activades">
        </div>

        <p id="estadistiques">Punts: {{encerts}} de {{intents}}. <span id="missatge" ref="missatge">{{ message }}</span>
        </p>
        <h1 id="pregunta" :class="{'correcte':correcte}">{{primer}} x {{segon}} = <span
                ref="resultat">{{resultat}}</span> </h1>
        <div id="graella">
            <button v-for="i in 100" :key="i" @click="buttonClicked(i)"
                :class="{ 'multiple': i % primer === 0 && pistes_activades, 'normal': i % primer !== 0 && pistes_activades }"
                :disabled="buttonsDisabled">{{i}}</button>
        </div>

    </div>
    <script type="module">
        import { createApp } from 'vue'

        createApp({
            data() {
                return {
                    //Variables que modifiquen el comportament 
                    //i es poden moficiar a voluntat
                    maxErrors: 2, //Màxim d'errors per multiplicació abans de passar a la següent
                    pistes_activades: false, //Si està activat, es marquen els múltiples del segon número


                    //Variables intenres
                    message: 'Calcula...',
                    primer: 1,
                    segon: 4,
                    resultat: '?',
                    encerts: 0,
                    intents: 0,
                    errors: 0, //Cada cop que es prepara una nova multiplicació, es posa a 0
                    buttonsDisabled: false, //Quan s'encerta la resposta, i mentre es prepara la següent multiplicació, es deshabiliten els botons
                    correcte: false, //S'utilitza com a classe CSS de pregunta per animar quan s'encerta la resposta

                }
            },
            methods: {
                nextNumber() {
                    this.primer = Math.floor(Math.random() * 10) + 1;
                    this.segon = Math.floor(Math.random() * 10) + 1;
                    this.errors = 0;
                    this.resultat = "?"
                },
                buttonClicked(value) {
                    this.intents++
                    //El valor clicat és el producte dels dos números
                    if (this.primer * this.segon === value) {
                        this.resultat = value
                        this.encerts++
                        this.message = "Molt bé!"
                        this.buttonsDisabled = true;
                        this.correcte = true;
                        setTimeout(() => {
                            this.nextNumber();
                            this.buttonsDisabled = false;
                            this.correcte = false;
                        }, 1000);
                    } else {
                        this.message = "Incorrecte"
                        this.errors++
                        this.$nextTick(() => {
                            this.$refs.missatge.classList.add('incorrecte');
                            this.$refs.resultat.classList.add('incorrecte');
                        });
                        setTimeout(() => {
                            this.$refs.missatge.classList.remove('incorrecte');
                            this.$refs.resultat.classList.remove('incorrecte');
                        }, 500);

                        if (this.errors >= this.maxErrors) {
                            this.nextNumber();
                        }
                    }

                },

            }
        }).mount('#app')



    </script>
</body>

</html>