<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taules de multiplicar</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estils.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
</head>

<body>

    <div id="app">
        <div id="pistes">
            <button @click="mostrarParametres = true">Paràmetres</button>
        </div>

        <p id="estadistiques">Punts: {{encerts}} de {{intents}}. <span id="missatge" ref="missatge">{{ message }}</span>
        </p>
        <!-- Tenim diverses finestres, totes iguals
        que es mostraran, una o l'altra en funció del que hagi passat
    Utilitzem v-show per no modificar el DOM (v-if treu i posa al DOM)-->
        <div id="mostrarPrimerError" class="finestraResposta" v-show="mostrarPrimerError">
            <p>&#x1F44E;</p>
        </div>

        <div id="mostrarResposta" class="finestraResposta" v-show="mostrarResposta">
            <p>{{primer}} x {{segon}} = {{primer * segon}} </p>
            <p>&#x26A0;<br></p>
        </div>
        <div id="mostrarAplaudiment" class="finestraResposta" v-show="mostrarAplaudiment">
            <p>&#x1F44F;</p>
        </div>

        <div id="mostrarEstadistiques" class="finestraResposta" v-show="mostrarEstadistiques">
            <p>
                {{formatTime}} <br>
                {{encerts}} de {{intents}}<br>
            </p>
            <p>
                {{encerts/intents*100}}%<br>
                {{encerts/intents*100>=90?'Molt bé!':''}}
                {{encerts/intents*100<90&&encerts /intents*100>=50?'Correcte!':''}}
                    {{encerts/intents*100<50?'Ups!!':''}} </p>
                        <button @click="intents=0;encerts=0;errors=0;primerError=false">Tornar-hi</button>
        </div>

        <!-- Permet configurar l'aplicació-->
        <div id="mostrarParametres" class="finestraResposta" v-show="mostrarParametres">
            <div>
                <label for="usuariVolPistes">Pistes? </label>
                <input type="checkbox" id="usuariVolPistes" name="usuariVolPistes" v-model="usuariVolPistes">

                <br>
                <label for="maxIntents">Numero de preguntes: </label>
                <input type="number" id="maxIntents" name="maxIntents" v-model="maxIntents" min="1" max="20">
                <br>
                <label for="maxErrors">Intents per pregunta: </label>
                <input type="number" id="maxErrors" name="maxErrors" v-model="maxErrors" min="1" max="4">
                <br>
                <label>Taules:</label>
                <div id="numeros">
                    <label v-for="num in 10" :key="num">
                        <input type="checkbox" v-model="escollits" :value="num" />
                        {{ num }}
                    </label>
                </div>
                <br>

                <button
                    @click="mostrarParametres = false;intents=0;encerts=0;errors=0;primerError=false;this.nextNumber();this.resetTimer();this.startTimer()">Tornar-hi</button>
            </div>
        </div>


        <!-- Finestra útil per debugar els modals, no es mostra mai-->
        <div id="mostrarResposta" class="finestraResposta" v-show="false">
            <p>{{primer}} x {{segon}} = {{primer * segon}} </p>
            <p>&#x26A0; </p>
        </div>


        <h1 id="pregunta" :class="{'correcte':correcte}">{{primer}} x {{segon}} = <span
                ref="resultat">{{resultat}}</span> </h1>
        <div id="graella">
            <button v-for="i in 100" :key="i" @click="buttonClicked(i)"
                :class="{ 'multiple': i % primer === 0 && pistes_activades, 'normal': i % primer !== 0 && pistes_activades }"
                :disabled="buttonsDisabled">{{i}}</button>
        </div>

        <!-- Estadística -->
        <h1>STATS</h1>
        <div id="stats">
            <table class="heatmap-table">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="(n, index) in 11" :key="index">{{ index }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, rowIndex) in estadistica" :key="rowIndex">
                        <th>{{ rowIndex }}</th>
                        <td v-for="(value, colIndex) in row" :key="colIndex"
                            :style="{'background-color': value === 0 ? 'white' : value < 0 ? 'red' : 'yellow'}">
                            &nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <button @click="this.esborrarEstadistica()">Esborrar estadística</button>
        </div>
    </div>
    <script type="module">
        import { createApp } from 'vue'

        createApp({
            data() {
                return {
                    //Variables que modifiquen el comportament 
                    //i es poden moficiar a voluntat
                    maxErrors: 2, //Màxim d'errors per multiplicació abans de passar a la següent
                    //pistes_activades: false , //Si està activat, es marquen els múltiples del segon número
                    usuariVolPistes: false,
                    duradaModalResposta: 2000, //Temps que es mostra la resposta
                    maxIntents: 10, //Màxim d'intents abans de mostrar les estadístiques

                    //Variables internes
                    message: 'Calcula...',
                    primer: 2,
                    segon: 4,
                    resultat: '?',
                    encerts: 0,
                    intents: 0,
                    errors: 0, //Cada cop que es prepara una nova multiplicació, es posa a 0
                    buttonsDisabled: false, //Quan s'encerta la resposta, i mentre es prepara la següent multiplicació, es deshabiliten els botons
                    correcte: false, //S'utilitza com a classe CSS de pregunta per animar quan s'encerta la resposta
                    primerError: false, //S'utilitza per saber si s'ha produït un error en la primera multiplicació
                    mostrarPrimerError: false,
                    mostrarResposta: false,
                    mostrarAplaudiment: false,
                    escollits: [1, 2, 3], //Llista de números escollits per l'usuari
                    mostrarParametres: false, //Permet mostrar els paràmetres de l'aplicació

                    estadistica: [], //Llista de llistes amb
                    //cronometre
                    isRunning: false,
                    startTime: 0,
                    currentTime: 0,


                }
            },
            mounted() {
                // Inicia el cronòmetre quan el component s'ha muntat
                this.startTimer();
                //Les estadistica es una matriu de 10x10
                //que hem d'inicialitzar a 0
                //quan es crea l'aplicació s'inicialitza i després
                //en cas d'encert s'incrementa la posició [primer][segon]
                // i en cas d'error es decrementa
                if (localStorage.getItem('estadistica') === null) {
                    this.inicialitzarEstadistica();
                } else {
                    this.estadistica = JSON.parse(localStorage.getItem('estadistica')) || [];
                }
      

            },
            watch: {
                mostrarEstadistiques(newVal, oldVal) {
                    if (newVal) {
                        // Si el div es fa invisible (amagat), atura el cronòmetre
                        this.stopTimer();
                    } else {
                        this.resetTimer();
                        this.startTimer();
                    }
                },
            },
            computed: {
                /**
                 * Si l'usuari vol pistes, o si s'ha equivocat, aleshores activem les pistes
                 */
                pistes_activades() {
                    return this.primerError || this.usuariVolPistes;
                },
                formatTime() {
                    const minutes = Math.floor(this.currentTime / 60);
                    const seconds = this.currentTime % 60;
                    return `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
                },
                mostrarEstadistiques() {
                    return this.intents >= this.maxIntents;
                },

            },
            methods: {
                nextNumber() {
                    this.primer = this.randomEntreEscollits();
                    this.segon = Math.floor(Math.random() * 10) + 1;
                    this.errors = 0;
                    this.resultat = "?";
                    this.primerError = false; //reiniciem el contador d'error
                },
                randomEntreEscollits() {
                    if (this.escollits.length > 0) {
                        const indexAleatori = Math.floor(Math.random() * this.escollits.length);
                        return this.escollits[indexAleatori];
                    }
                    return 2;
                },
                buttonClicked(value) {
                    this.intents++
                    //El valor clicat és el producte dels dos números
                    if (this.primer * this.segon === value) {
                        this.estadistica[this.primer][this.segon]++;
                        this.resultat = value
                        this.encerts++
                        this.message = "Molt bé!"
                        this.buttonsDisabled = true;
                        this.correcte = true;
                        this.f_mostrarAplaudiment();
                        setTimeout(() => {
                            this.nextNumber();
                            this.buttonsDisabled = false;
                            this.correcte = false;
                        }, 1000);
                    } else { //El valor clicat no és el producte dels dos números
                        this.estadistica[this.primer][this.segon]--;
                        this.message = "Incorrecte"
                        this.errors++
                        this.$nextTick(() => {
                            this.$refs.missatge.classList.add('incorrecte');
                            this.$refs.resultat.classList.add('incorrecte');
                        });
                        setTimeout(() => {
                            this.$refs.missatge.classList.remove('incorrecte');
                            this.$refs.resultat.classList.remove('incorrecte');
                        }, 500);

                        if (!this.primerError) {
                            this.f_mostrarError();
                            this.primerError = true;
                        }

                        if (this.errors >= this.maxErrors) {
                            this.f_mostrarResposta();
                            setTimeout(() => {
                                this.nextNumber();
                            }, this.duradaModalResposta + 100);
                        }
                    }
                    localStorage.setItem('estadistica', JSON.stringify(this.estadistica));

                },
                /**
                 * Mostra la resposta correcta durant un temps
                 */
                f_mostrarResposta() {
                    this.mostrarResposta = true;
                    setTimeout(() => {
                        this.mostrarResposta = false;
                    }, this.duradaModalResposta);
                },
                /**
                 * Mostra un missatge d'error durant un temps
                 */
                f_mostrarError() {
                    this.mostrarPrimerError = true;
                    setTimeout(() => {
                        this.mostrarPrimerError = false;
                    }, 1000);
                },
                /**
                 * Mostra un aplaudiment temps
                 */
                f_mostrarAplaudiment() {
                    this.mostrarAplaudiment = true;
                    setTimeout(() => {
                        this.mostrarAplaudiment = false;
                    }, 1000);
                },


                /**
                 * Cronòmetre
                 */
                startTimer() {
                    if (!this.isRunning) {
                        this.startTime = Date.now() - this.currentTime * 1000;
                        this.isRunning = true;
                        this.timer = setInterval(this.updateTime, 1000);
                    }
                },
                stopTimer() {
                    if (this.isRunning) {
                        clearInterval(this.timer);
                        this.isRunning = false;
                    }
                },
                resetTimer() {
                    this.stopTimer();
                    this.currentTime = 0;
                },
                updateTime() {
                    if (this.isRunning) {
                        this.currentTime = Math.floor((Date.now() - this.startTime) / 1000);
                    }
                },
                inicialitzarEstadistica(){
                    for (let i = 0; i < 11; i++) {
                        this.estadistica[i] = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                    }
                },
                esborrarEstadistica() {
                    localStorage.removeItem('estadistica');
                    this.inicialitzarEstadistica();
                }

            }
        }).mount('#app')



    </script>
</body>

</html>